<script src = "/javascripts/EditPlayerButtons.js"></script>
<table id = "t01">
  <thead>
    <th>Player Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>#</th>
    <th>Position</th>
    <th>Height</th>
    <th>Weight(lbs)</th>
    <th>Age</th>
    <th>Games Played</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Team Id</th>
    <th>Update Row</th>
    <th>Delete Row</th>
  </thead>
<tbody>
     {{#each results}}
            <tr id = {{this.Player_Id}}>
                <td id = "id{{this.Player_Id}}">{{this.Player_Id}}</td>
                <td id = "FN{{this.Player_Id}}">{{this.First_Name}}</td>
                <td id = "LN{{this.Player_Id}}">{{this.Last_Name}}</td>
                <td id = "N{{this.Player_Id}}">{{this.Number}}</td>
                <td id = "P{{this.Player_Id}}">{{this.Position}}</td>
                <td id = "H{{this.Player_Id}}">{{this.Height}}</td>
                <td id = "W{{this.Player_Id}}">{{this.Weight}}</td>
                <td id = "A{{this.Player_Id}}">{{this.Age}}</td>
                <td id = "GP{{this.Player_Id}}">{{this.Games_Played}}</td>
                <td id = "G{{this.Player_Id}}">{{this.Goals}}</td>
                <td id = "As{{this.Player_Id}}">{{this.Assists}}</td>
                <td id = "Tid{{this.Player_Id}}">{{this.TeamId}}</td>
                <td><input id = "EB{{this.Player_Id}}" type = "button" class = "edit" value = "Update" onclick="editPlayer({{this.Player_Id}});"></td>
                <td><input type = "button" class = "delete" value = "Delete" onclick="deletePlayer({{this.Player_Id}});"></td>
           </tr>
      {{/each}}
    </tbody>
  </table>
