<script src = "/javascripts/EditArenaButtons.js"></script>
<table id = "t01">
  <thead>
    <th>Arena Id</th>
    <th>Arena Name</th>
    <th>Capacity</th>
    <th>Average Attendance</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Team Id</th>
    <th>Update Row</th>
    <th>Delete Row</th>
  </thead>
<tbody>
     {{#each results}}
            <tr id = {{this.Arena_Id}}>
                <td id = "id{{this.Arena_Id}}">{{this.Arena_Id}}</td>
                <td id = "Name{{this.Arena_Id}}">{{this.Arena_Name}}</td>
                <td id = "Cap{{this.Arena_Id}}">{{this.Capacity}}</td>
                <td id = "AA{{this.Arena_Id}}">{{this.Avg_Attendance}}</td>
                <td id = "AC{{this.Arena_Id}}">{{this.Arena_City}}</td>
                <td id = "AS{{this.Arena_Id}}">{{this.Arena_State}}</td>
                <td id = "ACo{{this.Arena_Id}}">{{this.Arena_Country}}</td>
                <td id = "Tid{{this.Arena_Id}}">{{this.TId}}</td>
                <td><input id = "EB{{this.Arena_Id}}" type = "button" class = "edit" value = "Update" onclick="editArena({{this.Arena_Id}});"></td>
                <td><input type = "button" class = "delete" value = "Delete" onclick="deleteArena({{this.Arena_Id}});"></td>
           </tr>
      {{/each}}
    </tbody>
  </table>
