<script src = "/javascripts/EditFPButtons.js"></script>
<table id = "t01">
  <thead>
    <th>Former Team ID</th>
    <th>Former Team</th>
    <th>Former Player ID</th>
    <th>Former Player</th>
    <th>Delete Row</th>
  </thead>
<tbody>
     {{#each results}}
            <tr>
                <td>{{this.Former_Team_Id}}</td>
                <td>{{this.Team_Name}}</td>
                <td>{{this.Former_Player_Id}}</td>
                <td>{{this.First_Name}} {{this.Last_Name}}</td>
                <td><input type = "button" class = "delete" value = "Delete" onclick="deleteFP({{this.Former_Team_Id}}, {{this.Former_Player_Id}});"></td>
           </tr>
      {{/each}}
    </tbody>
  </table>
